*{
    box-sizing:border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.box{
    background: rgb(53,173,199);
    background: linear-gradient(90deg, rgba(53,173,199,1) 0%, rgba(12,229,241,0.765661252900232) 100%);
}

.box__inner {    
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    text-align: center;
}

.item__content{
    padding-left: 25px;
    text-align-last: left;
}

.text {
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 50px;  
}

.number {
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
    font-size: 30px; 
}


